<% content_for :header do %>
  <%= image_tag "logo.png" %>
<% end %>

<section class="section-center mb-l">
  <h1>Welcome, my galactical friend.</h1>

  <p>
    Easily track your epic Twilight Imperium IV game sessions.
  </p>

  <%= button_to "New Game", new_game_url, method: :get %>
  <%= button_to "Load Game", new_game_url, method: :get %>
</section>

<% if Rails.env.development? %>
  <% if Game.active.any? %>
    <section>
      <h2>Active Games</h2>
      <ul>
        <% Game.active.find_each do |game| %>
          <li><%= link_to game.name, game %></li>
        <% end %>
      </ul>
    </section
  <% end %>

  <% if Game.closed.any? %>
    <section>
      <h2>Closed Games</h2>
      <ul>
        <% Game.closed.find_each do |game| %>
          <li><%= link_to game.name, game %>, endet <%= l(game.ended_at, format: :short) %></li>
        <% end %>
      </ul>
    </section
  <% end %>
<% end %>

<section>
  <h2>Overview</h2>

  <details>
    <summary>Factions Overview</summary>
    <% Faction.each do |key, name| %>
    <div class="faction-title">
      <%= image_tag_for_faction(key) %>
      <h4><%= name %></h4>
    </div>
    <% end %>
  </details>

  <details>
    <summary>Stage I Objectives</summary>
    <% PublicObjective.stage_one.each do |objective| %>
      <%= render objective %>
    <% end %>
  </details>

  <details>
    <summary>Stage II Objectives</summary>
    <% PublicObjective.stage_two.each do |objective| %>
      <%= render objective %>
    <% end %>
  </details>

  <details>
    <summary>Secret Objectives - Action Phase</summary>
    <% SecretObjective.action_phase.each do |objective| %>
      <%= render objective %>
    <% end %>
  </details>

  <details>
    <summary>Secret Objectives - Status Phase</summary>
    <% SecretObjective.status_phase.each do |objective| %>
      <%= render objective %>
    <% end %>
  </details>

  <details>
    <summary>Technologies</summary>
    <% Technology.all.each do |technology| %>
      <%= render technology %>
    <% end %>
  </details>

  <details>
    <summary>Agenda Cards</summary>
    <% AgendaCard.all.each do |agenda_card| %>
      <%= render agenda_card %>
    <% end %>
  </details>
</section>
