<section class="mb-l">
  <h2>Round <%= game.current_round_number %>: <%= t("activerecord.attributes.round.aasm_state.#{game.current_round.aasm_state}") %></h2>

  <% if game.current_round.finished? %>
    <h3>Revealed Public Objective from previous Status Phase</h3>

    <%= form_with model: @game, url: start_next_round_game_path(game), method: :post, class: "form-columns" do |f| %>
      <%= render "games/form/select_objective", form: f, game: game, objectives: available_public_objectives_for_game(game) %>
      <%= render "games/form/select_speaker", form: f, game: game %>

      <%= f.submit "Start Next Round" %>
    <% end %>
  <% else %>
    <%= render "rounds/states/#{game.current_round.aasm_state}", game: game, round: game.current_round %>
  <% end %>
</section>
