<section class="mb-l">
  <% if !game.player_limit_reached? %>
    <%= link_to "Add another Player", new_game_player_path(@game) %>
  <% end %>

  <% if !game.enough_players? %>
    <p>Please add more players.</p>
  <% else %>
    <h2>Reveal first two stage 1 objectives</h2>
    <%= form_with model: game, url: start_next_round_game_path(game), method: :post, class: "form-columns" do |f| %>
      <%= render "games/form/select_objective", form: f, game: game, objectives: PublicObjective.stage_one %>
      <%= render "games/form/select_objective", form: f, game: game, objectives: PublicObjective.stage_one %>
      <%= render "games/form/select_speaker", form: f, game: game %>

      <%= f.submit "Start Game!", disabled: !game.may_start? %>
    <% end %>
  <% end %>
</section>
