<% content_for :header do %>
  <%= image_tag "logo.png" %>
<% end %>

<section>
  <h1>Create a new game</h1>

  <%= form_with model: @game, class: "form-columns" do |f| %>
    <%= f.text_field :name, placeholder: "Name your Game" %>
    <%= f.text_field :map, placeholder: "TTS Map String" %>

    <div class="select">
      <%= f.label :victory_points, "How many points?" %>
      <%= f.collection_select :victory_points, [10, 14], :to_s, :to_s %>
    </div>

    <%= f.submit %>
  <% end %>
</section>

