<h1><%= @game.name %></h1>

<h2>Players</h2>
<ul>
<% @game.players.each do |player| %>
  <li><%= link_to player.name, game_player_path(@game, player) %> (<%= t("factions.#{player.faction}") %>)</li>
<% end %>
</ul>


<p>
  <% if @game.enough_players? %>
    <%= link_to "Start Round 1", "#" %>
  <% else %>
    Please add more players.
  <% end %>
</p>

<% unless @game.player_limit_reached? %>
  <%= link_to "Add Player", new_game_player_path(@game) %>
<% end %>
