<h1><%= @game.name %></h1>

<section>
  <h2>Players</h2>
  <% if @game.players.any? %>
    <ul>
    <% @game.players.each do |player| %>
      <li><%= link_to player.name, game_player_path(@game, player) %> (<%= t("factions.#{player.faction}") %>)</li>
    <% end %>
    </ul>
  <% end %>
</section>

<%= render "games/states/#{@game.aasm_state}", game: @game %>

<section>
  <% if @game.may_close? %>
    <%= button_to "Close Game", close_game_path(@game), data: { confirm: "Sure?" } %>
  <% end %>
</section
