<h1><%= @game.name %></h1>

<section>
  <h2>Players</h2>
  <% if @game.players.any? %>
    <ul>
    <% @game.players.each do |player| %>
      <li>
        <%= link_to player.name, game_player_path(@game, player) %> (<%= t("factions.#{player.faction}") %>)
        <% if @game.preparing? %>
          [<%= link_to "remove", game_player_path(@game, player), method: :delete, data: { confirm: "Sure?" } %>]
        <% end %>
        <% if @game.active? && @game.current_round.action_phase? %>
          <strong><%= @game.current_round.player_stats.find_by(player: player).strategy_card %></strong>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <% if @game.active_public_objectives.any? %>
    <h2>Public Objectives</h2>
    <ul>
    <% @game.active_public_objectives.group_by(&:stage).each do |(stage, objectives)| %>
      <li><strong><%= stage %></strong>
       <ul>
         <% objectives.each do |objective| %>
          <li><%= objective.title %></li>
         <% end %>
      </ul>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>

<%= render "games/states/#{@game.aasm_state}", game: @game %>

<section>
  <% if @game.may_close? %>
    <%= button_to "Close Game", close_game_path(@game), data: { confirm: "Sure?" } %>
  <% end %>
</section
