<div class="faction-title">
  <%= image_tag_for_faction(@player.faction) %>
  <h2><%= faction_name(@player.faction) %></h2>
  <% if @current_game.active? && @player.owns_castodian? %>
    <%= image_tag "custodian.png", class: "custodian-token" %>
  <% end %>
</div>

<p>Played by <%= @player.name %></p>

<% if @current_game.active? && (@current_game.current_round.action_phase? || @current_game.current_round.status_phase?) %>
  <section class="mb-s">
    <h2>Score Objectives</h2>
    <% @current_game.revealed_objectives.each do |objective| %>
      <div class="player-objective <%= @player.scored_objective?(objective) ? "player-objective--scored" : "" %>">
        <%= render objective %>
        <div class="player-objective-actions">
          <% if !@player.scored_objective?(objective) %>
            [<%= link_to "score 🚀!", score_public_game_player_objectives_path(@current_game, @player, objective_key: objective.key), method: :post %>]
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<% if @current_game.active? && @player.currently_speaker? %>
  <h3>[Currently Speaker]</h3>
<% end %>

<section class="mb-l">
  <h3>Technologies</h3>
  <% if @player.technologies.any? %>
    <% @player.technologies.group_by(&:type).each do |tech_type, technologies| %>
      <% technologies.each do |technology| %>
        <div class="player-technology">
          <%= render technology %>
          <div class="player-technology-actions">
            [<%= link_to "undo?", game_player_technology_path(@current_game, @player, technology.key), method: :delete %>]
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    No technologies yet. Add starting Technologies.
  <% end %>

  <h3>Add Tech</h3>
  <%= form_with scope: :technology, url: game_player_technologies_path(@current_game, @player), class: "form-columns" do |f| %>
    <div class="select">
      <%= f.label :key, "Which tech?" %>
      <%= f.text_field :key, list: "technologies", autocomplete: "off" %>
      <datalist id="technologies">
        <%= options_from_collection_for_select available_tech_for_player(@player), :key, :title %>
      </datalist>
    </div>

    <%= f.submit "Add" %>
  <% end %>
</section>
