<h1><%= t("factions.#{@player.faction}") %></h1>
<p>Played by <%= @player.name %></p>

<% if @current_game.active? %>
  <section class="mb-s">
    <h2>Score Objectives</h2>
    <ul>
    <% @current_game.active_public_objectives.group_by(&:stage).each do |(stage, objectives)| %>
      <li><strong><%= stage %></strong>
       <ul>
         <% objectives.each do |objective| %>
           <li>
           <%= objective.title %>
           <% if @current_game.current_round.player_stats.find_by(player: @player).scored_public_objectives.none? { |scored_objective| scored_objective.key == objective.key } %>
             [<%= link_to "Score!", game_player_objective_score_path(@current_game, @player, objective.key), method: :post %>]
           <% else %>
             ✓
           <% end %>
           </li>
         <% end %>
      </ul>
      </li>
    <% end %>
    </ul>
  </section>
<% end %>

<section class="mb-l">
  <h2>Technologies</h2>
  <% if @player.technologies.any? %>
    <ul>
      <% @player.technologies.each do |technology| %>
        <li><%= link_to technology.title, technology_path(technology) %> <%= link_to "x", game_player_technology_path(@current_game, @player, technology.key), method: :delete %></li>
      <% end %>
    </ul>
  <% else %>
    No technologies yet. Add starting Technologies.
  <% end %>

  <h3>Add Tech</h3>
  <%= form_with scope: :technology, url: game_player_technologies_path(@current_game, @player), class: "form-columns" do |f| %>
    <div class="select">
      <%= f.label :key, "Which tech?" %>
      <%= f.collection_select :key, available_tech_for_player(@player), :first, :last %>
    </div>

    <%= f.submit "Add" %>
  <% end %>
</section>
