<!DOCTYPE html>
<html>
  <head>
    <title>Twilight Imperium Game Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= yield :header %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <h3>Disclaimer</h3>

      <p>
        This project has not been officially approved or is any other way associated with Fantasy Flight Games. <a href="https://www.fantasyflightgames.com/en/products/twilight-imperium-fourth-edition/">Twilight Imperium Fourth Edition</a> is a board game created and owned by Fantasy Flight Games. All copyright belongs to <a href="https://www.fantasyflightgames.com/en/index/">Fantasy Flight Games</a>.
      </p>

      <p>
        This project is licensed under the MIT License. <a href="https://github.com/brettspielpony/TwilightImperiumGameTracker">Contributions</a> are welcome!
      </p>
    </footer>
  </body>
</html>
